.animation{

    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-direction: reverse;  
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color:white; left:0px; top:0px;}
   
    75%  {background-color: burlywood; left:0px; top:200px;}
    100% {background-color: rgb(203, 148, 76); left:0px; top:0px;}
  }
  button:hover{
    background-color: brown;
  }